# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore Python virtual environment directory
venv/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
